@import url( 'http://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web:600,400,700&subset=latin-ext,latin' );

body#tinymce.wp-editor { 
    font-family: 'Lato', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
	line-height: 1.42857143;
	color: #5F6D7A;
}

body#tinymce.wp-editor a {
    color: #428BCA;
	text-decoration: none;
}
body#tinymce.wp-editor p {
	margin-bottom: 28px;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3 {
color: #34495E;
}