root { 
    display: block;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

.ui-button {
    width: 120px !important;
}

/*.ui-button.ui-widget {
       margin-top: 15px;
       margin-bottom: 15px;
       margin-left: 15px;
}*/