<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <!--ABY TO DZIAŁAŁO NALEŻY ODZNACZYC WE WLASCIWOSCIACH PROJEKTU - COMPILE ON SAVE!!!!!-->
  <persistence-unit name="npkpir_22PU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>pkpirNew</jta-data-source>
     <class>entity.Adminmail</class>
        <class>entity.Adminnews</class>
        <class>entity.Amodok</class>
        <class>entity.Deklaracjavat27</class>
        <class>entity.DeklaracjaVatPozycjeKoncowe</class>
        <class>entity.DeklaracjaVatSchema</class>
        <class>entity.DeklaracjaVatSchemaPozKoncowe</class>
        <class>entity.DeklaracjaVatSchemaWierszSum</class>
        <class>entity.DeklaracjavatUE</class>
        <class>entity.DeklaracjaVatWierszSumaryczny</class>
        <class>entity.DeklaracjaVatZT</class>
        <class>entity.DeklaracjaVatZZ</class>
        <class>entity.DeklaracjaVatZZPowod</class>
        <class>entity.Deklaracjevat</class>
        <class>entity.DodatkoweMaile</class>
        <class>entity.Dok</class>
        <class>entity.DokFP</class>
        <class>entity.DraSumy</class>
        <class>entity.EVatOpis</class>
        <class>entity.EVatwpis1</class>
        <class>entity.EVatwpisKJPK</class>
        <class>entity.Evewidencja</class>
        <class>entity.Evopis</class>
        <class>entity.Evpozycja</class>
        <class>entity.Faktura</class>
        <class>entity.FakturaDodatkowaPozycja</class>
        <class>entity.Fakturadodelementy</class>
        <class>entity.FakturaDodPozycjaKontrahent</class>
        <class>entity.FakturaDuplikat</class>
        <class>entity.Fakturaelementygraficzne</class>
        <class>entity.FakturaRozrachunki</class>
        <class>entity.FakturaStopkaNiemiecka</class>
        <class>entity.FakturaWaloryzacja</class>
        <class>entity.FakturaWalutaKonto</class>
        <class>entity.FakturaXXLKolumna</class>
        <class>entity.Fakturyokresowe</class>
        <class>entity.Fakturywystokresowe</class>
        <class>entity.Granica</class>
        <class>entity.Inwestycje</class>
        <class>entity.Jpkblob</class>
        <class>entity.JPKoznaczenia</class>
        <class>entity.JPKVATWersja</class>
        <class>entity.JPKvatwersjaEvewidencja</class>
        <class>entity.Klienci</class>
        <class>entity.KlientJPK</class>
        <class>entity.Kolumna1Rozbicie</class>
        <class>entity.KwotaKolumna1</class>
        <class>entity.Logofaktura</class>
        <class>entity.MultiuserSettings</class>
        <class>entity.Odsetki</class>
        <class>entity.Ostatnidokument</class>
        <class>entity.ParamCzworkiPiatki</class>
        <class>entity.ParamDeklVatNadwyzka</class>
        <class>entity.ParamProcentVat</class>
        <class>entity.ParamVatUE</class>
        <class>entity.Pismoadmin</class>
        <class>entity.Pitpoz</class>
        <class>entity.Platnosci</class>
        <class>entity.Podmiot</class>
        <class>entity.Podatnik</class>
        <class>entity.PlatnoscWaluta</class>
        <class>entityfk.MiejsceSuper</class>
        <class>entity.PodatnikEwidencjaDok</class>
        <class>entity.PodatnikOpodatkowanieD</class>
        <class>entity.PodatnikUdzialy</class>
        <class>entity.Podstawki</class>
        <class>entity.PodsumowanieAmazonOSS</class>
        <class>entity.Pozycjenafakturze</class>
        <class>entity.Pozycjenafakturzebd</class>
        <class>entity.Rejestrlogowan</class>
        <class>entity.Rodzajedok</class>
        <class>entity.Rozrachunek1</class>
        <class>entity.Ryczpoz</class>
        <class>entity.SchemaEwidencja</class>
        <class>entity.Sesja</class>
        <class>entity.SMTPSettings</class>
        <class>entity.Sprawa</class>
        <class>entity.SrodekTrw</class>
        <class>entity.SrodekTrw_NowaWartosc</class>
        <class>entity.Srodkikst</class>
        <class>entity.Statusprogramu</class>
        <class>entity.Statystyka</class>
        <class>entity.StornoDok</class>
        <class>entity.Strata</class>
        <class>entity.StrataWykorzystanie</class>
        <class>entity.Sumypkpir</class>
        <class>entity.UmorzenieN</class>
        <class>entity.UPO</class>
        <class>entity.Uz</class>
        <class>entity.Vat27</class>
        <class>entity.VATDeklaracjaKorektaDok</class>
        <class>entity.VatUe</class>
        <class>entity.VATZDpozycja</class>
        <class>entity.WierszDRA</class>
        <class>entity.WniosekVATZDEntity</class>
        <class>entity.ZamkniecieRokuEtap</class>
        <class>entity.ZamkniecieRokuRozliczenie</class>
        <class>entity.Zamknietemiesiace</class>
        <class>entity.Zmianatablicy</class>
        <class>entity.Zobowiazanie</class>
        <class>entity.Zusmail</class>
        <class>entity.Zusstawki</class>
        <class>entity.Zusstawkinew</class>
        <class>entityfk.BankImportWzory</class>
        <class>entityfk.Cechazapisu</class>
        <class>entityfk.Delegacja</class>
        <class>entityfk.Dokfk</class>
        <class>entityfk.EVatDeklaracjaPlik</class>
        <class>entityfk.EVatwpisDedra</class>
        <class>entityfk.EVatwpisFK</class>
        <class>entityfk.Intrastatwiersz</class>
        <class>entityfk.Kliencifk</class>
        <class>entityfk.Konto</class>
        <class>entityfk.Kontokategoria</class>
        <class>entityfk.KontopozycjaZapis</class>
        <class>entityfk.MiejsceKosztow</class>
        <class>entityfk.MiejscePrzychodow</class>
        <class>entityfk.Pojazdy</class>
        <class>entityfk.PozycjaBilans</class>
        <class>entityfk.PozycjaRZiS</class>
        <class>entityfk.RMK</class>
        <class>entityfk.RodzajCzlonkostwa</class>
        <class>entityfk.SkladkaCzlonek</class>
        <class>entityfk.SkladkaStowarzyszenie</class>
        <class>entityfk.SprawozdanieFinansowe</class>
        <class>entityfk.SprawozdanieUklad</class>
        <class>entityfk.SprFinKwotyInfDod</class>
        <class>entityfk.StowNaliczenie</class>
        <class>entityfk.StronaWiersza</class>
        <class>entityfk.Tabelanbp</class>
        <class>entityfk.Transakcja</class>
        <class>entityfk.UkladBR</class>
        <class>entityfk.Vatuepodatnik</class>
        <class>entityfk.Waluty</class>
        <class>entityfk.Wiersz</class>
        <class>entityfk.WierszBO</class>
        <class>entityfk.WynikFKRokMc</class>
        <class>vies.Vies</class>
        <class>beansVAT.EwidPoz</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <shared-cache-mode>ALL</shared-cache-mode>
        <validation-mode>NONE</validation-mode>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
      <property name="eclipselink.id-validation" value="NONE"/>
      <property name="eclipselink.cache.type.default" value="Full"/>
      <property name="eclipselink.cache.size.default" value="5000"/>
      <property name="eclipselink.cache.shared.default" value="true"/>
      <property name="eclipselink.query-results-cache" value="true"/>
      <property name="eclipselink.cache-usage" value="CheckCacheThenDatabase"/>
      <property name="eclipselink.jdbc.batch-writing" value="Oracle-JDBC"/>
      <property name="eclipselink.jdbc.batch-writing.size" value="1000"/>
      <property name="eclipselink.tuning" value="standard"/>
      <property name="eclipselink.deploy-on-startup" value="true" />
      <property name="eclipselink.jdbc.cache-statements" value="true"/>
      <property name="eclipselink.jdbc.cache-statements.size" value="100"/>
      <property name="eclipselink.cache.type.default" value="Full"/>
      <!-- configure logging -->
      <!--      <property name="eclipselink.logging.level" value="INFO"/>
      <property name="eclipselink.logging.level.sql" value="FINE"/>
      <property name="eclipselink.logging.parameters" value="true"/>-->
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="microsoft1" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>microsoft1</jta-data-source>
        <class>entityplatnik.ArchDziennik</class>
        <class>entityplatnik.ArchiwumI</class>
        <class>entityplatnik.ArchiwumO</class>
        <class>entityplatnik.BladDok</class>
        <class>entityplatnik.BladMiedzy</class>
        <class>entityplatnik.BladPrzetw</class>
        <class>entityplatnik.BlkZaa</class>
        <class>entityplatnik.BlkZba</class>
        <class>entityplatnik.Blokada</class>
        <class>entityplatnik.Certyfikat</class>
        <class>entityplatnik.Crl</class>
        <class>entityplatnik.CzrZuszcna</class>
        <class>entityplatnik.CzrZuszcza</class>
        <class>entityplatnik.DokrozlDeklaracja</class>
        <class>entityplatnik.DokrozlRaport</class>
        <class>entityplatnik.Dokument</class>
        <class>entityplatnik.DokumentPlatniczy</class>
        <class>entityplatnik.Dziennik</class>
        <class>entityplatnik.Historia</class>
        <class>entityplatnik.Import</class>
        <class>entityplatnik.Infoudo</class>
        <class>entityplatnik.InfoudoUbezp</class>
        <class>entityplatnik.Kodswprz</class>
        <class>entityplatnik.Kodtytub</class>
        <class>entityplatnik.KompletDokrozl</class>
        <class>entityplatnik.Komunikat</class>
        <class>entityplatnik.ListaOddzial</class>
        <class>entityplatnik.Miejsce</class>
        <class>entityplatnik.Niejed</class>
        <class>entityplatnik.OsobaPrywatna</class>
        <class>entityplatnik.Parametry</class>
        <class>entityplatnik.ParametryPrzekazu</class>
        <class>entityplatnik.ParamKonf</class>
        <class>entityplatnik.ParamPlatUzyt</class>
        <class>entityplatnik.PlatnAdres</class>
        <class>entityplatnik.PlatnDanerozl</class>
        <class>entityplatnik.PlatnDra2rca2</class>
        <class>entityplatnik.PlatnHist</class>
        <class>entityplatnik.PlatnIdent</class>
        <class>entityplatnik.Platnik</class>
        <class>entityplatnik.PlatnikParametr</class>
        <class>entityplatnik.PlatnikZus</class>
        <class>entityplatnik.PlatnIwa</class>
        <class>entityplatnik.PlatnKalkOds</class>
        <class>entityplatnik.PlatnMdg</class>
        <class>entityplatnik.PlatnObowiwa</class>
        <class>entityplatnik.PlatnObowoplskl</class>
        <class>entityplatnik.PlatnOswria</class>
        <class>entityplatnik.PlatnRachbank</class>
        <class>entityplatnik.PlatnRachbankNrs</class>
        <class>entityplatnik.PlatnSalda</class>
        <class>entityplatnik.PlatnSpolka</class>
        <class>entityplatnik.PlatnStatus</class>
        <class>entityplatnik.PlatnZswa</class>
        <class>entityplatnik.PlikDokum</class>
        <class>entityplatnik.PlikPotw</class>
        <class>entityplatnik.Potwierdzenie</class>
        <class>entityplatnik.Przesylka</class>
        <class>entityplatnik.SdwiKodtytub</class>
        <class>entityplatnik.SdwiNaglowek</class>
        <class>entityplatnik.SdwiUbezpieczony</class>
        <class>entityplatnik.TmpTab</class>
        <class>entityplatnik.TmpUbezpieczeni</class>
        <class>entityplatnik.Ubezp30krotnosc</class>
        <class>entityplatnik.UbezpAdres</class>
        <class>entityplatnik.UbezpCzlonekRodziny</class>
        <class>entityplatnik.UbezpDgZdrowotna</class>
        <class>entityplatnik.UbezpIdent</class>
        <class>entityplatnik.Ubezpieczony</class>
        <class>entityplatnik.UbezpieczonyZus</class>
        <class>entityplatnik.UbezpIndschemat</class>
        <class>entityplatnik.UbezpInne</class>
        <class>entityplatnik.UbezpKodPracy</class>
        <class>entityplatnik.UbezpMdgMiesiac</class>
        <class>entityplatnik.UbezpMdgRok</class>
        <class>entityplatnik.UbezpPodleganie</class>
        <class>entityplatnik.UbezpRpa</class>
        <class>entityplatnik.UbezpSklad</class>
        <class>entityplatnik.UbezpSwiad</class>
        <class>entityplatnik.UbezpWybor</class>
        <class>entityplatnik.UbezpZusrca</class>
        <class>entityplatnik.UbezpZusrga</class>
        <class>entityplatnik.UbezpZusrna</class>
        <class>entityplatnik.UbezpZusrpa</class>
        <class>entityplatnik.UbezpZusrsa</class>
        <class>entityplatnik.UbezpZusrza</class>
        <class>entityplatnik.UbezpZuszswa</class>
        <class>entityplatnik.Uprawnienia</class>
        <class>entityplatnik.Uzytkownik</class>
        <class>entityplatnik.Wiadomosc</class>
        <class>entityplatnik.Zalacznik</class>
        <class>entityplatnik.Zamowienie</class>
        <class>entityplatnik.Zestaw</class>
        <class>entityplatnik.ZestawDokum</class>
        <class>entityplatnik.Zusdra</class>
        <class>entityplatnik.Zusdra2rca2</class>
        <class>entityplatnik.Zusiwa</class>
        <class>entityplatnik.Zusosw</class>
        <class>entityplatnik.Zusrca</class>
        <class>entityplatnik.Zusrga</class>
        <class>entityplatnik.Zusria</class>
        <class>entityplatnik.Zusrna</class>
        <class>entityplatnik.Zusrpa</class>
        <class>entityplatnik.Zusrsa</class>
        <class>entityplatnik.Zusrza</class>
        <class>entityplatnik.Zuszaa</class>
        <class>entityplatnik.Zuszba</class>
        <class>entityplatnik.Zuszcna</class>
        <class>entityplatnik.Zuszcza</class>
        <class>entityplatnik.Zuszfa</class>
        <class>entityplatnik.Zuszipa</class>
        <class>entityplatnik.Zusziua</class>
        <class>entityplatnik.Zuszpa</class>
        <class>entityplatnik.Zuszswa</class>
        <class>entityplatnik.Zuszua</class>
        <class>entityplatnik.Zuszwpa</class>
        <class>entityplatnik.Zuszwua</class>
        <class>entityplatnik.Zuszza</class>
        <class>kadryiplace.Absencja</class>
        <class>kadryiplace.AdresHist</class>
        <class>kadryiplace.AmoOkr</class>
        <class>kadryiplace.Amorty</class>
        <class>kadryiplace.Bank</class>
        <class>kadryiplace.Cele</class>
        <class>kadryiplace.DaneHiDa</class>
        <class>kadryiplace.DaneHiDaM</class>
        <class>kadryiplace.DaneHiDaX</class>
        <class>kadryiplace.DaneLiDa</class>
        <class>kadryiplace.DaneLiDaM</class>
        <class>kadryiplace.DaneLiDaX</class>
        <class>kadryiplace.DaneLiSl</class>
        <class>kadryiplace.DaneStat</class>
        <class>kadryiplace.DaneStatA</class>
        <class>kadryiplace.DaneStatD</class>
        <class>kadryiplace.DaneStatF</class>
        <class>kadryiplace.DaneStatI</class>
        <class>kadryiplace.DaneStatIx</class>
        <class>kadryiplace.DaneStatL</class>
        <class>kadryiplace.DaneStatM</class>
        <class>kadryiplace.DaneStatO</class>
        <class>kadryiplace.DaneStatP</class>
        <class>kadryiplace.DaneStatR</class>
        <class>kadryiplace.DaneStatS</class>
        <class>kadryiplace.DaneStatSc</class>
        <class>kadryiplace.DaneStatW</class>
        <class>kadryiplace.DaneStDa</class>
        <class>kadryiplace.DaneStDaM</class>
        <class>kadryiplace.DaneStDaX</class>
        <class>kadryiplace.Dep</class>
        <class>kadryiplace.Dtproperties</class>
        <class>kadryiplace.DzialHist</class>
        <class>kadryiplace.DzialList</class>
        <class>kadryiplace.EppOpis</class>
        <class>kadryiplace.EppZest</class>
        <class>kadryiplace.Etat</class>
        <class>kadryiplace.EtataHist</class>
        <class>kadryiplace.EtatbHist</class>
        <class>kadryiplace.Fakrach</class>
        <class>kadryiplace.FakrachE</class>
        <class>kadryiplace.Firma</class>
        <class>kadryiplace.Formyzap</class>
        <class>kadryiplace.Grupa</class>
        <class>kadryiplace.Jednostka</class>
        <class>kadryiplace.JezykList</class>
        <class>kadryiplace.Kalendarz</class>
        <class>kadryiplace.KalGodz</class>
        <class>kadryiplace.KasaCh</class>
        <class>kadryiplace.Kedu</class>
        <class>kadryiplace.Kolumna</class>
        <class>kadryiplace.Kongrupa</class>
        <class>kadryiplace.KonSlow</class>
        <class>kadryiplace.Konto</class>
        <class>kadryiplace.Kontrahent</class>
        <class>kadryiplace.Kontyp</class>
        <class>kadryiplace.Krst</class>
        <class>kadryiplace.Ksiegapir</class>
        <class>kadryiplace.Kurs</class>
        <class>kadryiplace.KursGrup</class>
        <class>kadryiplace.KursList</class>
        <class>kadryiplace.Listy</class>
        <class>kadryiplace.Lokalizacja</class>
        <class>kadryiplace.LokGrupa</class>
        <class>kadryiplace.Magazyn</class>
        <class>kadryiplace.Magdok</class>
        <class>kadryiplace.Magdoktyp</class>
        <class>kadryiplace.Magpoz</class>
        <class>kadryiplace.Miasto</class>
        <class>kadryiplace.Miesiac</class>
        <class>kadryiplace.Numer</class>
        <class>kadryiplace.OcenaGrup</class>
        <class>kadryiplace.OcenaHist</class>
        <class>kadryiplace.Okres</class>
        <class>kadryiplace.Opiszdgosp</class>
        <class>kadryiplace.Osoba</class>
        <class>kadryiplace.OsobaDet</class>
        <class>kadryiplace.OsobaPit</class>
        <class>kadryiplace.OsobaPot</class>
        <class>kadryiplace.OsobaPropTyp</class>
        <class>kadryiplace.OsobaPrz</class>
        <class>kadryiplace.OsobaRod</class>
        <class>kadryiplace.OsobaSkl</class>
        <class>kadryiplace.OsobaZlec</class>
        <class>kadryiplace.Panstwo</class>
        <class>kadryiplace.Paragon</class>
        <class>kadryiplace.ParagonE</class>
        <class>kadryiplace.ParagonK</class>
        <class>kadryiplace.Parpoz</class>
        <class>kadryiplace.Pion</class>
        <class>kadryiplace.Place</class>
        <class>kadryiplace.PlacePot</class>
        <class>kadryiplace.PlacePrz</class>
        <class>kadryiplace.PlacePrzZus</class>
        <class>kadryiplace.PlaceSkl</class>
        <class>kadryiplace.PlaceZlec</class>
        <class>kadryiplace.PlanGrup</class>
        <class>kadryiplace.Podatek</class>
        <class>kadryiplace.Podgrupa</class>
        <class>kadryiplace.Pojazdy</class>
        <class>kadryiplace.Pozycja</class>
        <class>kadryiplace.Prefer</class>
        <class>kadryiplace.Przebieg</class>
        <class>kadryiplace.Przedmiot</class>
        <class>kadryiplace.RapoDat</class>
        <class>kadryiplace.RapoSec</class>
        <class>kadryiplace.Rejestr</class>
        <class>kadryiplace.Rok</class>
        <class>kadryiplace.Rozliczus</class>
        <class>kadryiplace.Rozliczzap</class>
        <class>kadryiplace.RozlOdli</class>
        <class>kadryiplace.RozlZrodel</class>
        <class>kadryiplace.ScKamp</class>
        <class>kadryiplace.ScMag</class>
        <class>kadryiplace.ScPromo</class>
        <class>kadryiplace.SecDzial</class>
        <class>kadryiplace.SecGroup</class>
        <class>kadryiplace.SecKlucz</class>
        <class>kadryiplace.SecLog</class>
        <class>kadryiplace.SecLogHist</class>
        <class>kadryiplace.SecMenu</class>
        <class>kadryiplace.SecMenuItem</class>
        <class>kadryiplace.SecUser</class>
        <class>kadryiplace.SecWersja</class>
        <class>kadryiplace.SecWindow</class>
        <class>kadryiplace.SecZmiany</class>
        <class>kadryiplace.Spisy</class>
        <class>kadryiplace.Spisznat</class>
        <class>kadryiplace.SposobZatr</class>
        <class>kadryiplace.Sprzap</class>
        <class>kadryiplace.Sprzedaz</class>
        <class>kadryiplace.Srodki</class>
        <class>kadryiplace.StanGrup</class>
        <class>kadryiplace.StanHist</class>
        <class>kadryiplace.Stanowisko</class>
        <class>kadryiplace.StanPodgrup</class>
        <class>kadryiplace.StSystOpis</class>
        <class>kadryiplace.StSystWart</class>
        <class>kadryiplace.StSystWartDni</class>
        <class>kadryiplace.SuperDep</class>
        <class>kadryiplace.TmpDzial</class>
        <class>kadryiplace.TmpSecDzial</class>
        <class>kadryiplace.TmpSecDzialTmp</class>
        <class>kadryiplace.TmpSecFirma</class>
        <class>kadryiplace.TmpSecFirmaTmp</class>
        <class>kadryiplace.TmpSecPion</class>
        <class>kadryiplace.TmpSecPionTmp</class>
        <class>kadryiplace.TmpStanowisko</class>
        <class>kadryiplace.Trasy</class>
        <class>kadryiplace.Tutor</class>
        <class>kadryiplace.Tytul</class>
        <class>kadryiplace.TytulWkp</class>
        <class>kadryiplace.TytulWks</class>
        <class>kadryiplace.TytulWpo</class>
        <class>kadryiplace.Ubezp</class>
        <class>kadryiplace.Urzad</class>
        <class>kadryiplace.Vat</class>
        <class>kadryiplace.Vatrej</class>
        <class>kadryiplace.Waluta</class>
        <class>kadryiplace.Wersja</class>
        <class>kadryiplace.WymiarHist</class>
        <class>kadryiplace.WynKodPrz</class>
        <class>kadryiplace.WynKodPrzZus</class>
        <class>kadryiplace.WynKodSkl</class>
        <class>kadryiplace.WynKodTyt</class>
        <class>kadryiplace.WynPotracenia</class>
        <class>kadryiplace.WynZasilki</class>
        <class>kadryiplace.Wyposaz</class>
        <class>kadryiplace.WzoryDok</class>
        <class>kadryiplace.Zakdok</class>
        <class>kadryiplace.Zakpoz</class>
        <class>kadryiplace.Zakupy</class>
        <class>kadryiplace.Zakzap</class>
        <class>kadryiplace.Zasilki</class>
        <class>kadryiplace.Zatrud</class>
        <class>kadryiplace.ZatrudHist</class>
        <class>kadryiplace.Zus</class>
        <class>kadryiplace.DokumentKP</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <shared-cache-mode>ALL</shared-cache-mode>
        <validation-mode>NONE</validation-mode>
        <properties>
            <property name="eclipselink.ddl-generation" value="create-tables"/>
            <property name="eclipselink.id-validation" value="NONE"/>
            <property name="eclipselink.cache.type.default" value="Full"/>
            <property name="eclipselink.cache.size.default" value="5000"/>
            <property name="eclipselink.cache.shared.default" value="true"/>
            <property name="eclipselink.query-results-cache" value="true"/>
            <property name="eclipselink.cache-usage" value="CheckCacheThenDatabase"/>
            <property name="eclipselink.jdbc.batch-writing" value="Oracle-JDBC"/>
            <property name="eclipselink.jdbc.batch-writing.size" value="1000"/>
            <property name="eclipselink.tuning" value="standard"/>
            <property name="eclipselink.deploy-on-startup" value="true" />
            <property name="eclipselink.jdbc.cache-statements" value="true"/>
            <property name="eclipselink.jdbc.cache-statements.size" value="100"/>
            <property name="eclipselink.cache.type.default" value="Full"/>
        </properties>
    </persistence-unit>
  <!--ABY TO DZIAŁAŁO NALEŻY ODZNACZYC WE WLASCIWOSCIACH PROJEKTU - COMPILE ON SAVE!!!!!-->
<!--  <persistence-unit name="dokfpPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>pkpirNew2</jta-data-source>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>ALL</shared-cache-mode>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
      <property name="eclipselink.ddl-generation" value="none"/>
            <property name="eclipselink.query-results-cache" value="true"/>
            <property name="eclipselink.cache-usage" value="CheckCacheThenDatabase"/>
       configure logging 
            <property name="eclipselink.logging.level" value="INFO"/>
      <property name="eclipselink.logging.level.sql" value="FINE"/>
      <property name="eclipselink.logging.parameters" value="true"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>-->
  <!--ABY TO DZIAŁAŁO NALEŻY ZAZNACZYC WE WLASCIWOSCIACH PROJEKTU - COMPILE ON SAVE!!!!!
  trzeba tez usunac reczne build z c:/netbeans
<?xml version="1.0" encoding="UTF-8"?><persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="JavaApplication4PU" transaction-type="RESOURCE_LOCAL">
     <validation-mode>NONE</validation-mode>
     <exclude-unlisted-classes>FALSE</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/pkpir?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
      <property name="javax.persistence.jdbc.user" value="brzaskun"/>
      <property name="javax.persistence.jdbc.password" value="pufikun"/>
    </properties>
  </persistence-unit>
</persistence>-->
</persistence>
