<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>org.primefaces.extensions.DELIVER_UNCOMPRESSED_RESOURCES</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <context-param>
    <param-name>fish.payara.faces.enableParallelInit</param-name>
    <param-value>true</param-value>
</context-param>
<context-param>
    <param-name>com.sun.faces.enableThreading</param-name>
    <param-value>true</param-value>
</context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
</context-param>
    <context-param>
        <param-name>org.primefaces.extensions.WRAP_PRIME_FACES_RESOURCES</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{themeSwitcherBean.theme}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.CACHE_PROVIDER</param-name>
        <param-value>org.primefaces.cache.DefaultCacheProvider</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>czas i data lokalna</description>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
        <param-value>true</param-value>
       </context-param>   
       <context-param>
        <param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
       </context-param>
    <!--    to jest potrzebne zeby CKEditor pracowal-->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <!--    to jest potrzebne zeby CKEditor pracowal-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Push Servlet</servlet-name>
        <servlet-class>org.primefaces.push.PushServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
<!--    <servlet-mapping>
        <servlet-name>Push Servlet</servlet-name>
        <url-pattern>/primepush/*</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealmNew</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/AccessDenied.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>Administrator</role-name>
    </security-role>
     <security-role>
        <role-name>ZUS</role-name>
    </security-role>
    <security-role>
        <role-name>Manager</role-name>
    </security-role>
    <security-role>
        <role-name>Bookkeeper</role-name>
    </security-role>
    <security-role>
        <role-name>BookkeeperFK</role-name>
    </security-role>
    <security-role>
        <role-name>Noobie</role-name>
    </security-role>
    <security-role>
        <role-name>Guest</role-name>
    </security-role>
    <security-role>
        <role-name>GuestFaktura</role-name>
    </security-role>
    <security-role>
        <role-name>GuestFK</role-name>
    </security-role>
     <security-role>
        <role-name>GuestFKBook</role-name>
    </security-role>
    <security-role>
        <role-name>Multiuser</role-name>
    </security-role>
     <security-role>
        <role-name>MultiuserBook</role-name>
    </security-role>
    <security-role>
        <role-name>Dedra</role-name>
    </security-role>
    <security-role>
        <role-name>Stowarzyszenie</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Dedra Area</web-resource-name>
            <url-pattern>/dedra/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Dedra</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Manager Area</web-resource-name>
            <url-pattern>/manager/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>ZUS</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Stowarzyszenie Area</web-resource-name>
            <url-pattern>/stowarzyszenie/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Stowarzyszenie</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Bookkeeper Area</web-resource-name>
            <url-pattern>/ksiegowa/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BookkeeperFK Area</web-resource-name>
            <url-pattern>/ksiegowaFK/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>MultiuserBook</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ZUS Area</web-resource-name>
            <url-pattern>/zus/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>ZUS</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Guest Area</web-resource-name>
            <url-pattern>/guest/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Guest</role-name>
            <role-name>GuestFK</role-name>
            <role-name>GuestFKBook</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
            <role-name>MultiuserBook</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>GuestFK Area</web-resource-name>
            <url-pattern>/guestFK/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>GuestFK</role-name>
            <role-name>GuestFKBook</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
            <role-name>MultiuserBook</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Noobie Area</web-resource-name>
            <url-pattern>/noobie/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Noobie</role-name>
            <role-name>Guest</role-name>
            <role-name>GuestFK</role-name>
            <role-name>GuestFKBook</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
            <role-name>MultiuserBook</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Wspolny</web-resource-name>
            <url-pattern>/wspolny/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Dedra</role-name>
            <role-name>Guest</role-name>
            <role-name>GuestFaktura</role-name>
            <role-name>GuestFK</role-name>
            <role-name>GuestFKBook</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
            <role-name>MultiuserBook</role-name>
            <role-name>Stowarzyszenie</role-name>
        </auth-constraint>
    </security-constraint>
    <error-page>
        <error-code>403</error-code>
        <location>/AccessDenied.xhtml</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/blad_503.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/NMTS.xhtml</location>
    </error-page>
<!--     <error-page>
        <error-code>500</error-code>
        <location>/PropertyNotFoundException.xhtml</location>
    </error-page>-->
<!--    <error-page>
        <exception-type>javax.faces.application.PropertyNotFoundException</exception-type>
        <location>/PropertyNotFoundException.xhtml</location>
    </error-page>-->
<!--    <error-page>
        <exception-type>java.lang.IllegalStateException</exception-type>
        <location>/PropertyNotFoundException.xhtml</location>
    </error-page>-->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/SessionExpired.xhtml</location>
    </error-page>
    <!-- Load custom tag into JSF web application -->
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/brzaskun.taglib.xml</param-value>
    </context-param>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
</web-app>
