<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param> 
    <context-param>
        <param-name>org.primefaces.extensions.DELIVER_UNCOMPRESSED_RESOURCES</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <context-param>
        <param-name>org.primefaces.extensions.WRAP_PRIME_FACES_RESOURCES</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{themeSwitcherBean.theme}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
     </context-param>
    <context-param>
        <description>czas i data lokalna</description>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--    to jest potrzebne zeby CKEditor pracowal-->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name> 
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <!--    to jest potrzebne zeby CKEditor pracowal-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name> 
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Push Servlet</servlet-name>
        <servlet-class>org.primefaces.push.PushServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Push Servlet</servlet-name>
        <url-pattern>/primepush/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.xhtml</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealmNew</realm-name>
    </login-config>
    <security-role>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <role-name>Manager</role-name>
    </security-role>
    <security-role>
        <role-name>Bookkeeper</role-name>
    </security-role>
    <security-role>
        <role-name>BookkeeperFK</role-name>
    </security-role>
    <security-role>
        <role-name>Noobie</role-name>
    </security-role>
    <security-role>
        <role-name>Guest</role-name>
    </security-role>
    <security-role>
        <role-name>GuestFaktura</role-name>
    </security-role>
    <security-role>
        <role-name>GuestFK</role-name>
    </security-role>
    <security-role>
        <role-name>Multiuser</role-name>
    </security-role>
    <security-role>
        <role-name>Dedra</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Dedra Area</web-resource-name>
            <url-pattern>/faces/dedra/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Dedra</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Area</web-resource-name>
            <url-pattern>/faces/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Manager Area</web-resource-name>
            <url-pattern>/faces/manager/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Bookkeeper Area</web-resource-name>
            <url-pattern>/faces/ksiegowa/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BookkeeperFK Area</web-resource-name>
            <url-pattern>/faces/ksiegowaFK/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>BookkeeperFK</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Guest Area</web-resource-name>
            <url-pattern>/faces/guest/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Guest</role-name>
            <role-name>GuestFK</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
        </auth-constraint>
    </security-constraint>
      <security-constraint>
        <web-resource-collection>
            <web-resource-name>GuestFK Area</web-resource-name>
            <url-pattern>/faces/guestFK/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>GuestFK</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Noobie Area</web-resource-name>
            <url-pattern>/faces/noobie/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Noobie</role-name>
            <role-name>Guest</role-name>
            <role-name>GuestFK</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
        </auth-constraint>
    </security-constraint>
     <security-constraint>
        <web-resource-collection>
            <web-resource-name>Wspolny</web-resource-name>
            <url-pattern>/faces/wspolny/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Dedra</role-name>
            <role-name>Guest</role-name>
            <role-name>GuestFaktura</role-name>
            <role-name>GuestFK</role-name>
            <role-name>Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Bookkeeper</role-name>
            <role-name>BookkeeperFK</role-name>
            <role-name>Multiuser</role-name>
        </auth-constraint>
    </security-constraint>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/AccessDenied.xhtml?faces-redirect=true</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/SessionExpired.xhtml?faces-redirect=true</location>
    </error-page>
    <!-- Load custom tag into JSF web application -->
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/brzaskun.taglib.xml</param-value>
    </context-param>
</web-app>
