/* 
    Document   : style.css
    Created on : 2012-08-09, 16:49:54
    Author     : Osito
    Description:
        Purpose of the stylesheet follows.
*/
body { 
    font-size: 9pt !important;
    font-weight: 500;
}

root { 
    display: block;
}


.old{
    background-color:#ccccff !important;
    background-image:none !important;
    color:#000000 !important;
}

.ui-widget {
    font-size: 110%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}

#zestawienieroczne.td {
    
    border-width: 0px !important;
    padding: 1px 0px !important;
}

.ui-panelgrid td {
    
    border-width: 0px !important;
    padding: 4px 10px !important;
}

.ui-panelgrid tr {
    
    border-width: 1px !important;
    padding: 0px !important;
}

.ui-panel {
    border-style: none !important;
}

.ui-layout-unit ui-widget ui-widget-content ui-corner-all ui-layout-west {
    width: 300px;
}



.ui-datatable .ui-datatable-data td {
    vertical-align : central;
    word-break: break-all;
}

.ui-datatable thead th {
   white-space:normal !important;
}

@page {
    size: landscape;
    object-fit: scale-down;
    width: 50%;
}