/*body { 
    font-size: 9pt !important;
    font-family: TimesNewRoman !important;
    font-weight: 500;
}

root { 
    display: block;
}

.menudialog {
    height: 420px;
    width: 620px;
    box-shadow: 10px 10px 5px #888888;
    margin-left: 15px;
    margin-top: 15px;
}*/
