/* 
    Document   : stylefk
    Created on : 2013-11-04, 08:05:40
    Author     : Osito
    Description:
        Purpose of the stylesheet follows.
*/
.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
    padding: 0px !important;
}

//jest problem przy wpisywanych tabelach
/*.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 0px !important;
}*/

.fkbutton {
    width: 120px;
}


.ui-panelgrid {
    border-collapse: initial !important; 
}

.niebieskietlo {
    background: lightblue;
}

.ui-treetable .ui-treetable-data td {
    word-wrap: normal;
    overflow: auto !important;
    white-space: normal !important;
}

.autoCompleteBig .ui-autocomplete-input {
    width: 300px;
}




 