/* 
    Document   : stylefk
    Created on : 2013-11-04, 08:05:40
    Author     : Osito
    Description:
        Purpose of the stylesheet follows.
*/

.fkbutton {
    width: 120px;
}


.ui-panelgrid {
    border-collapse: initial !important; 
}

.ui-inputfield .ui-inputtext {
    padding: 0px !important;
    margin: 0px !important;
}

.ui-datatable-data tr td {
    padding: 0px !important;
    margin: 0px !important;
}

 