/* 
    Document   : stylefk
    Created on : 2013-11-04, 08:05:40
    Author     : Osito
    Description:
        Purpose of the stylesheet follows.
*/
.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
    padding: 0px !important;
}

//jest problem przy wpisywanych tabelach
/*.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 0px !important;
}*/



.ui-panelgrid {
    border-collapse: initial !important; 
}

.niebieskietlo {
    background: lightblue;
}

.ui-treetable .ui-treetable-data td {
    word-wrap: normal;
    overflow: auto !important;
    white-space: normal !important;
}

.autoCompleteBig .ui-autocomplete-input {
    width: 300px;
}

.wierszpiatkowy, .wierszpiatkowy .ui-inputfield, .wierszpiatkowy span {
    font-style: italic !important;
    background: rgba(209, 217, 255, 0.28) !important;
    color: #6374AB !important;
}




 