<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="fkdatabasePU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>fktest</jta-data-source>
    <class>entity.Dokument</class>
    <class>entity.StronaWiersza</class>
    <class>entity.Transakcja</class>
    <class>entity.Wiersz</class>
    <class>entity.Rozrachunek</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
      <property name="eclipselink.ddl-generation.output-mode" value="sql-script"/>
      <property name="eclipselink.create-ddl-jdbc-file-name" value="LOLO.TXT"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="fkdatabasePUStatic">
    <description>JPA Test</description>
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.Dokument</class>
    <class>entity.StronaWiersza</class>
    <class>entity.Transakcja</class>
    <class>entity.Wiersz</class>
    <class>entity.Rozrachunek</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/fktest?useUnicode=true&amp;characterEncoding=UTF-8"/>
      <property name="javax.persistence.jdbc.user" value="brzaskun"/>
      <property name="javax.persistence.jdbc.password" value="pufikun"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
      <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.hbm2ddl.auto" value="create"/>
      <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
      <property name="eclipselink.ddl-generation.output-mode" value="sql-script"/>
      <property name="eclipselink.create-ddl-jdbc-file-name" value="LOLO.txt"/>
    </properties>
  </persistence-unit>
</persistence> 
