@charset "utf-8";
/* CSS Document 

Brązowy ciemny: rgb(74,26,15)	#4A1A0F 
Pomarańczowy:`	rgb(243,112,33)	#F37021
Szary:			rgb(230,231,232) #E6E7E8
Jasnoszary:           rgb(241,241,241)    #f1f1f1
tekst color:           rgb(102,102,102)    #666666


niebieski #0d4c9f
błękit slider # e4f5fc
		tabela #76d1f7
czerwien-roz #ed1a52


h1, h2, h3, h4, h5, h6 color: #999999;
zolty color: FFCC00
BLUE #4169E1
*/

p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,q,strong,b,u,i,center,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,section {margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}

body,html{background: #FFF;color: #666666;font: 12px/16px Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;font-size: 12px;font-size: 1.0rem;line-height: 1.4}



p, a, li, ol, dl , th, td, b, strong, q {color: #666666;}

p {font-family: inherit;font-weight: normal;}
p, li, dd,blockquote  {text-align:justify;word-wrap: break-word;}
.p07 {font-size:0.7rem;}

div,span,iframe,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,q,strong,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,section {font-size: 14px;}

h1, h2, h3, h4, h5, h6 {text-transform: uppercase;
	color: #4A1A0F;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	font-weight: 400; 
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
	line-height: 1.4;}
h1 {font-size: 1.0rem;margin: 1.4rem 0 1.5rem}
h2 {font-size: 1.6875rem;margin: 2.2rem 0 1.1rem}
h3 {font-size: 1.475rem;margin: 2.0rem 0 0.9rem}
h4 {font-size: 1.325rem;margin: 1.8rem 0 0.7rem}
h5 {font-size: 1.225rem;margin: 1.0rem 0 0.0rem}
h6 {font-size: 1.125rem;margin: 1.4rem 0 0.3rem;}

/* @media all and (max-width: 800px) {
  div,span,iframe,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,q,strong,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,section {font-size: 0.8rem;}
  h1 {font-size: 1.7rem;margin: 1.92rem 0 1.2rem}
  h2 {font-size: 1.35rem;margin: 1.76rem 0 0.88rem}
  h3 {font-size: 1.18rem;margin: 1.44rem 0 0.72rem}
  h4 {font-size: 1.06rem;margin: 1.44rem 0 0.56rem}
  h5 {font-size: 0.98rem;margin: 1.28rem 0 0.4rem}
  h6 {font-size: 0.9rem;margin: 1.12rem 0 0.24rem;}
} */

a {text-decoration: none;color: #4A1A0F;}
	a:hover, a:focus {color: #000000; }
	a:link { color: #4A1A0F;}
	p a { text-decoration: underline}
i, em { font-style:italic}

.srodtytul{font-weight: 700;font-size: 1.2rem;line-height: 1.6;color: #4A1A0F;margin: 1.4rem 0 0.3rem}
.tbrown{color: #4A1A0F;}
.torange{color: #F37021;}

.tleft {text-align: left !important;}
.tright {text-align: right !important;}
.tcenter {text-align: center !important;}
.tjustify {text-align: justify !important;}


.left {float: left !important; }
.right {float: right !important; }
.center{ margin-right: auto; margin-left: auto;}

.hide {display: none !important;visibility: hidden;}
.show {display: block !important; /*inline*/}
.clear{clear:both;}
.wlini{display: inline;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


 
.fflex {-ms-flexbox; display: -webkit-flex; display: flex;}
.fwrap {-webkit-flex-wrap: wrap; flex-wrap: wrap; flex-direction: wrap;}

.frow		{-ms-flexbox; display: -webkit-flex; display: flex;-webkit-flex-flow: row; flex-flow: row; flex-direction: row;}
.fcolumn	{-ms-flexbox; display: -webkit-flex; display: flex;-webkit-flex-flow: column; flex-flow: column; flex-direction: column;}
.fleft		{-ms-flexbox; display: -webkit-flex; display: flex; -moz-justify-content:flex-start;-webkit-justify-content:flex-start; justify-content:flex-start;}
.fright		{-ms-flexbox; display: -webkit-flex; display: flex; -moz-justify-content:flex-end;-webkit-justify-content:flex-end; justify-content:flex-end; }
.fcenter	{-ms-flexbox; display: -webkit-flex; display: flex; -moz-justify-content:center;-webkit-justify-content:center; justify-content:center; }
.fjustify	{-ms-flexbox; display: -webkit-flex; display: flex; -moz-justify-content:space-between;-webkit-justify-content:space-between; justify-content:space-between;}
.fspace	{-ms-flexbox; display: -webkit-flex; display: flex; -moz-justify-content:space-around;-webkit-justify-content:space-around; justify-content:space-around;}
.ftop		{-ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; flex-direction: wrap; -moz-align-content:flex-start;-webkit-align-content:flex-start; align-content:flex-start;}
.fbottom	{-ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; flex-direction: wrap; -moz-align-content:flex-end;-webkit-align-content:flex-end; align-content:flex-end;}
.fvcenter	{-ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; flex-direction: wrap; -moz-align-content:center;-webkit-align-content:center; align-content:center;}
.fvjustify	{-ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; flex-direction: wrap; -moz-align-content:space-between;-webkit-align-content:space-between; align-content:space-between;}

.fc_none {-webkit-flex: none;-ms-flex: none; flex: none;}
.fc_top 		{-webkit-align-self:flex-start; align-self:flex-start;}
.fc_bottom 	{-webkit-align-self:flex-end; align-self:flex-end;}
.fc_center 	{-webkit-align-self:center; align-self:center;}
.fc_stretch	{-webkit-align-self:stretch; align-self:stretch;}

.width100{width:100%}
.width75{width:75%}
.width50{width:50%}
.width33{width:33.33333%}
.width25{width:25%}

.odstep_lp{padding-left: 0.5rem; padding-right: 0.5rem;}
.odstep {padding: 0.5rem;}
.margines_lp{margin-left: 0.5rem; margin-right: 0.5rem;}
.margines {margin: 0.5rem;}


#main_body {margin-top:-25px}
#main_body > header {padding: 1rem 0;}
#main_body > nav, .nav {margin:0 auto;width: 1000px;max-width: 1000px;}

#main_container > aside {margin-right:1.6rem}
#main_body > header,#main_body > footer,
#main_container {margin:0 auto;width: 1000px;max-width: 1000px;-ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row; flex-flow: row; flex-direction: row;}
#main_body > footer {margin-top:1rem}
#main_container > nav     { order: 1; min-width: 200px; flex:1;}
#main_container > aside   { order: 2; min-width: 200px; flex:1;}
#main_container > article { order: 3; min-width: 600px;width: 600px; flex:3; }


.ramka {background:#f1f1f1; border: 1px solid #E6E7E8;}
.ramka_tyt{background:#f1f1f1; border: 1px solid #E6E7E8;padding:0;margin: 0.8rem 0;}
	.ramka_tyt > div:first-child {width: 100%;padding:3px;background:#F37021;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		color: #4A1A0F;
		font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
		font-weight: 700; 
		line-height: 1.4;
		font-size: 1.1rem;}
	.ramka_tyt > article {padding:1rem}
	.ramka_tyt + .width50 {width:48.7%}

	.width100 .ramka_tyt > .width50:first-child {margin-right: 0.8rem}
	.width100 .ramka_tyt > .width50:last-child {margin-left: 0.8rem}

.lista_aside {list-style-type: disc;margin-bottom:.3rem;margin-left:0;padding-left:1rem;}
.stopka_post {font-style:italic;color: #AAAAAA;}
	.stopka_post span {font-style:italic;color: #666666;font-weight: bold;}

.komentarze .cytat {margin-left:1rem;background:#fff;padding:0.5rem;font-style:italic}

	.cien {
	-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.6);}

.dol_red{border-bottom: 2px solid red;}
	
nav > *:first-child, aside > *:first-child, article > *:first-child {margin-top: -20px;}

article p {margin-bottom:0.5rem; }
.tpo00 {margin-bottom:0rem; }
.tpo02 {margin-bottom:0.2rem; }
.tpo05{margin-bottom: 0.5rem;}
.tpo1{margin-bottom:1.0rem; }
.twaski1 {margin-left:2rem;margin-right: 2rem}

.lista .lista_nr {
	margin-left: 1rem;margin-right: 2rem;
	margin-bottom: 0.5rem;
	list-style-position: outside;
	font-family: inherit;}
.lista li:last-child {margin-bottom:1.0rem}
  .lista li {list-style-type: square;color:#666666;font:2rem;}
	 
	  
		  .lista li ul li{
			list-style-type: disc}
		  .lista li li:last-child {margin-bottom:0}
.lista_nr ol li{
	list-style-type: decimal;}
	 .lista_nr li li {
		list-style-type: lower-latin;}
blockquote{margin-bottom:0.3rem}
blockquote, q {font-style:italic;}
blockquote cite {text-align: right;
    color: #555555;display: block;font-size: 0.8rem;}
blockquote cite:before {content: "– ";}
q { quotes: "\201e" "\201d"; quotes: """ """;}
q:before { content: open-quote;}
q:after  { content: close-quote;}

.tyt_tabeli {color: #4A1A0F;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	font-weight: 400; 
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
	line-height: 1.4;
	font-size: 1.325rem;margin: 1.8rem 0 0.7rem}
article table{width:95%; border-spacing:10rem;}
  article table tbody td, article table thead th {
	border: .1rem solid #4A1A0F;
	border-collapse: collapse;
	table-layout: auto;
	vertical-align: middle;
	line-height: 1.8;
	padding: 0.3rem;}
  article table thead th {
    border-top: .1rem solid #4A1A0F;
	border-bottom: .1rem solid #FFF;
	border-right: .1rem solid #FFF;
    border-left: .1rem solid #4A1A0F;
	background-color: #4A1A0F;
	text-align: center;
	font-weight: bold; color: #FFF;}
		article table thead th:last-child  {
    border: .1rem solid #4A1A0F;}
  article table tbody td {
	text-align: left;
	font-weight: normal;}
  article table .darker {
	background-color: #E1e1e1;}
	article table .darker td {
		border-top: .15rem solid #F37021;
		border-collapse: collapse;font-weight: 700;}
  article table .dark {
	background-color: #f1f1f1;}
  article table .light {
	background-color: #FFF;}

/* Standard Forms */
form {
  margin: 0 0 0.88889rem; }


/* Label Styles */
label {
  font-size: 0.77778rem;
  color: #666666;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */ }
 
/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.77778rem;
  height: 2.05556rem;
  line-height: 2.05556rem; }
textarea {
    height: auto;
    min-height: 50px;
}	
/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #4A1A0F;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75); 
  display: block;
  font-size: 0.77778rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  height: 2.05556rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #4A1A0F; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #4A1A0F;
    outline: none; }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="month"]:disabled,
  input[type="week"]:disabled,
  input[type="email"]:disabled,
  input[type="number"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="color"]:disabled,
  textarea:disabled {
    background-color: #e1e1e1;
    cursor: default; }
  input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"],
  input[type="password"][disabled],
  input[type="password"][readonly], fieldset[disabled]
  input[type="password"],
  input[type="date"][disabled],
  input[type="date"][readonly], fieldset[disabled]
  input[type="date"],
  input[type="datetime"][disabled],
  input[type="datetime"][readonly], fieldset[disabled]
  input[type="datetime"],
  input[type="datetime-local"][disabled],
  input[type="datetime-local"][readonly], fieldset[disabled]
  input[type="datetime-local"],
  input[type="month"][disabled],
  input[type="month"][readonly], fieldset[disabled]
  input[type="month"],
  input[type="week"][disabled],
  input[type="week"][readonly], fieldset[disabled]
  input[type="week"],
  input[type="email"][disabled],
  input[type="email"][readonly], fieldset[disabled]
  input[type="email"],
  input[type="number"][disabled],
  input[type="number"][readonly], fieldset[disabled]
  input[type="number"],
  input[type="search"][disabled],
  input[type="search"][readonly], fieldset[disabled]
  input[type="search"],
  input[type="tel"][disabled],
  input[type="tel"][readonly], fieldset[disabled]
  input[type="tel"],
  input[type="time"][disabled],
  input[type="time"][readonly], fieldset[disabled]
  input[type="time"],
  input[type="url"][disabled],
  input[type="url"][readonly], fieldset[disabled]
  input[type="url"],
  input[type="color"][disabled],
  input[type="color"][readonly], fieldset[disabled]
  input[type="color"],
  textarea[disabled],
  textarea[readonly], fieldset[disabled]
  textarea {
    background-color: #e1e1e1;
    cursor: default; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  input[type="color"].radius,
  textarea.radius {
    border-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Not allow resize out of parent */
textarea {
  max-width: 100%; }

/* Add height value for select elements to match text input height */
select {
width: 100%; 
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #4A1A0F;
  padding: 0.44444rem;
  font-size: 0.77778rem;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.05556rem; }
  select::-ms-expand {
    display: none; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #4A1A0F; }
  select:disabled {
    background-color: #f1f1f1;
    cursor: default; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 0.88889rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.44444rem;
  margin-right: 0.88889rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
  border: 1px solid #4A1A0F;
  padding: 1.11111rem;
  margin: 1rem 0; }
  fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.16667rem;
    margin: 0;
    margin-left: -0.16667rem; }
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

.przenikania:hover,
#menu li a:hover
{-moz-transition: 0.4s ease-in; -webkit-transition: 0.4s ease-in; -o-transition: 0.4s ease-in; transition: 0.4s ease-in;}



.kwicks li {float:left !important}
.kwicks h2 {padding-top:20px !important;}

/* menu poziome*/
.masternav__menu {display: block !important;position: relative;}
.masternav__menu li {background: none repeat scroll 0 0 #FFF;}
	.masternav__menu li:hover {background: none repeat scroll 0 0 #F37021;}
.masternav__menu li a {color:#666666;}
.masternav__menu li li{background: none repeat scroll 0 0 #f1f1f1;}

.masternav__menu li[class*="icon-"] {color: #4A1A0F !important;}
.masternav__menu a, .masternav__menu .show-sub-menu {color: #4A1A0F !important;}

/* menu lewe*/
	#menu_trigger{float:right;margin-right:3%;width:48px;height:33px;background:url(menu_trigger.png) center center no-repeat;border-radius:6px;-webkit-border-radius:6px;cursor:pointer;}
	@media (min-width: 999px) {
		#menu_trigger{display:none;}
		#menu{list-style:none;}
		#menu li{margin-bottom:1px;}
		#menu li a{display:block;height:auto;background:#FFF;padding:8px 0 8px 20px;color:#000;text-decoration:none;}
		#menu li a:hover{background:#212121;color:#FFF;}
		
	}
	@media (max-width: 999px) {
		#menu-box {position:fixed;top:0;left:0;background:#111111;width:100%;z-index:2000;}
		#menu_trigger{margin:10px 3% 10px 0;}
		#menu{position:absolute;list-style:none;background:#1D1D1D;width:100%;display:none;}
		#menu li:first-child{padding-top:15px;}
		#menu li:last-child{padding-bottom:15px;}
		#menu li a{display:block;height:auto;padding:8px 0 8px 20px;color:#fff;font-weight:bold;text-decoration:none;}
		#menu li a:hover{background:#111111;}
		
	}


.menu_biezacy {background: none repeat scroll 0 0 #f1f1f1}

.czyt_dalej {
	display: inline-block;
	padding: 1px 5px;
	margin-bottom: 0;
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #F37021;
	background-color: #fff;
	border-color: #F37021;}
  .czyt_dalej:focus, .czyt_dalej:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;}
  .czyt_dalej:hover, .czyt_dalej:focus {
	color: #F37021;
	background-color: #E6E7E8;
	border-color: #F37021;
	text-decoration: none;}
  .czyt_dalej:active {
	color: #F37021;
	background-image: none;
	border-color: #F37021;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* Cookie warning */
#cookie-warn{
 position: fixed; bottom: 0; background: url(black_transp_white.png) repeat scroll 0 0; background:rgba(255, 255, 255, 0.5); margin: 0; padding: 5px; width: 100%; display: none; z-index: 99;}
#cookie-warn a{ color: #D40000; text-transform: uppercase; float: right; padding-right: 20px;}
#cookie-warn p{font: 0.9rem/1.2 Arial, Helvetica, sans-serif; color: #555;}