/* 
    Document   : stylefk
    Created on : 2013-11-04, 08:05:40
    Author     : Osito
    Description:
        Purpose of the stylesheet follows.
*/

.fkbutton {
    width: 120px;
}


.ui-panelgrid {
    border-collapse: initial !important; 
}

.niebieskietlo {
    background: lightblue;
}



 