/* 
    Document   : stylefk
    Created on : 2013-11-04, 08:05:40
    Author     : Osito
    Description:
        Purpose of the stylesheet follows.
*/
body { 
    font-size: 9pt !important;
    font-family: TimesNewRoman !important;
    font-weight: 500;
    width: 99%;
}

.fkbutton {
    width: 120px;
}


.ui-panelgrid {
    border-collapse: initial !important; 
}

.niebieskietlo {
    background: lightblue;
}

.ui-treetable .ui-treetable-data td {
    word-wrap: normal;
    overflow: auto !important;
    white-space: normal !important;
}

.autoCompleteBig .ui-autocomplete-input {
    width: 300px;
}


 